html {
	height: 100%;
}
body {
	font-family: Helvetica, Arial, Verdana, sans-serif;
	line-height: 1.4em;
}
body.centered_page {
	background-color: #aaa;
	margin: 20px;
}
div.main_pane {
	width: 800px;
	margin: 0 auto;
	text-align: left;
	background-color: white;
	border: 1px solid #666;
	padding: 10px;
	position: relative;
}
div.language {
	position: absolute;
	top: 20px;
	width: 790px;
	text-align: right;
}
a {
	text-decoration: none;
	color: #417394;
}
img {
	border: none;
}
a:hover {
	color: red;
}
a:visited {
	color: #417394;
}
div.introduction {
	margin-top: 2em;
}
div.introduction > p {
	margin-bottom: 1.2em;
}
